<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1610647752706-3bb12232b3ab?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1025&q=80);">
  <div class="container">
    <h1>Rent a car <strong data-controller="typed-js"> </strong></h1>
    <p>Find yourself in a hurry? Our offer is varied and unique. Instant access to over 40,000 vehicles in Spain!</p>
    <a class="btn btn-flat" href="#">Rent a car</a>
  </div>
</div>
